

#lista {
    list-style-type: none; /*la etiqueta list-style-type:nome para quitar la viñeta */
    margin: -1%; /*margin y padding para eliminar la configuracion del navegador */
    padding: 0% ;
    width: 100%;
    
    max-width: 1000%;
    text-align: right; /*para centrar la barra*/
    background-color:rgba(189, 165, 165, 0.87);
    /*para fijar la barra*/
    position: fixed;
    top: 0%;
    width: 100%;
  
    
    }

    /*logo config*/
    .logo-image{
        width: 45px;
        height: 10px;
        border-radius: 200%;
        margin-top: 8;
    }
    img{
        border-radius: 90%;
        width: 100px;
        margin-left: 16px;
        margin-top: 16px;
    }

    li a{
    text-decoration: none;
    color: black;
    padding: 45px;
    display: block;
    border-right: 1px solid #bbb;
    text-align: center;
   
    }
    li{
    display: inline-block;
    text-align: center;
      
}
li a:hover {
    background-color: rgb(151, 142, 142);
}

